*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.musqus-to-delete{
    display: flex;
    flex-direction: column;
}
textarea{
    margin: 24px 30px;
}
.actions{
    display: flex;
    flex-direction: row;
    margin: 0 30px;
}
.btn{
    cursor: pointer;
    padding: 6px 24px;
    margin: 12px;
    font-size: 24px;
    border-radius: 4px;
    border: 2px solid rgb(87, 126, 235);
    color: rgb(87, 126, 235);
}
.btn.active{
    color: white;
    box-shadow: 2px 4px 8px rgba(0, 89, 255, 0.4);
    position: relative;
    overflow: hidden;
}
.btn.active::after{
    content: "";
    background-color: rgb(239, 41, 41);
    display: inline-block;
    width: 0%;
    height: 0%;
    border-radius: 0 0 0 50px;
    position: absolute;
    animation: buble 500ms forwards;
    top: -10px;
    right: -10px;
    z-index: -2;
}.btn.active::before{
    content: "";
    background-color: rgb(87, 126, 235);
    display: inline-block;
    width: 0%;
    height: 0%;
    border-radius: 0 0 0 50px;
    position: absolute;
    animation: buble 500ms 50ms forwards;
    top: -10px;
    right: -10px;
    z-index: -1;
}
@keyframes buble {
    0%{
        width: 0%;
        height: 0%;
        border-radius: 50px 0 50px 100px;
    }
    100%{
        width: 200px;
        height: 200px;
        border-radius: 2px;
    }
}
